
<div class="container">
  <div id="header"> 
  	<h1>Welcome to the land of rad.</h1>
  	<span class="edit"><a href="/">Home...</a></span>
  	<span class="edit"><a href="/posts/<%= @post.id %>/edit">Edit...</a></span>
  	<span class="edit"><a href="/posts/<%= @post.id %>/delete">Delete</a></span>
  </div>

  <div class="post"> <!-- this is going to be 700px wide-->
  	
  	<!-- this is going to be 700px wide -->
  	<div class="title">  
  		<%= @post.title %> 
  		<span class="date"><%= @post.created_at %></span>
  	</div>
  	
  	<!-- this is going to be 700px wide -->
  	<div class="body"> 
      <%= @post.body %>
    </div>

		<!-- this is going to be 700px wide -->
  	<div class="tags"> 
      <% @post.tags.each do |tag| %>      
      	<a href="/<%= tag.name %>"><%= tag.name %></a>
      <% end %>
    </div>

   </div>

</div>